
#loadMe{
  z-index:1000000000;
}

.toast-title{
  color:white !important;
}

.toast-success{
  background-color:#1dc9b7 !important;
  color:#fff !important;
}

.toast-info{
  background-color:#5578eb !important;
  color:#fff !important;
}
