//
// Header
//



// Desktop mode(1024px and above)
@include k-media-above(lg) {
	.k-header {
		display: flex;
		flex-direction: column;
		background-repeat: no-repeat;
    	background-size: cover;
    	background-position: top;
    	position: relative;
    	z-index: 2;

		.k-header__top {
			height: k-get($k-header-config, base, desktop, default, height, top);
			display: flex;
			align-items: stretch;

			.k-container {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:before,
				&:after {
					display: none !important;
				}

				.k-header__brand-logo-default {
					display: inline-block;
				}

				.k-header__brand-logo-sticky {
					display: none;
				}
			}			
		}

		.k-header__bottom {
			display: flex;
			align-items: stretch;
			height: k-get($k-header-config, base, desktop, default, height, bottom);

			.k-container {
				display: flex;
				align-items: stretch;
			}
		}

		// Fixed
		.k-header--fixed.k-header--minimize & {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: k-get($k-header-config, base, desktop, fixed, zindex);
			background: #fff !important;
			box-shadow: 0px 0px 40px 0px rgba(82,63,105, 0.1);

			.k-header__top {
				height: k-get($k-header-config, base, desktop, fixed, height, top);

				.k-header__brand-logo-default {
					display: none;
				}

				.k-header__brand-logo-sticky {
					display: inline-block;
				}
			}

			.k-header__bottom {
				height: k-get($k-header-config, base, desktop, fixed, height, bottom);
			}
		}

		// Animations
		.k-header--minimize-all.k-header--minimize & {
			animation: k-header-minimize-all .5s ease 1;
		}

		.k-header--minimize-topbar.k-header--minimize & {
			animation: k-header-minimize-topbar .5s ease 1;
		}

		.k-header--minimize-menu.k-header--minimize & {
			animation: k-header-minimize-menu .5s ease 1;
		}
	}

	// Minimize mode
	.k-header--fixed.k-header--minimize {
		padding-top: k-get($k-header-config, base, desktop, default, height, top) + k-get($k-header-config, base, desktop, default, height, bottom);
	}

	.k-header--minimize-all.k-header--fixed.k-header--minimize {		
		.k-header {
			.k-header__bottom {
				border-top: 1px solid k-base-color(grey, 2);
			}
		}
	}

	.k-header--minimize-topbar.k-header--fixed.k-header--minimize {
		.k-header {
			.k-header__bottom {
				display: none;
			}
		}
	}

	.k-header--minimize-menu.k-header--fixed.k-header--minimize {
		.k-header {
			.k-header__top {
				display: none;
			}
		}
	}
}

// Page fluid mode(below $k-page-container-width)
@include k-page-fluid-mode {
	.k-header {
		.k-header__bottom {
			.k-container {
				padding: 0;	
			}
		}
	}
}

// Mobile mode(1024px and below)
@include k-media-below(lg) {
	.k-header {
		.k-header__top {
			.k-header__brand-logo-default,
			.k-header__brand-logo-sticky {
				display: none;
			}
		}
	}
}

@keyframes k-header-minimize-all {
    from   { top: -(k-get($k-header-config, base, desktop, fixed, height, top) + k-get($k-header-config, base, desktop, fixed, height, bottom)); }
    to { top: 0; }
}

@keyframes k-header-minimize-topbar {
    from   { top: -(k-get($k-header-config, base, desktop, fixed, height, top)); }
    to { top: 0; }
}

@keyframes k-header-minimize-menu {
    from   { top: -(k-get($k-header-config, base, desktop, fixed, height, bottom)); }
    to { top: 0; }
}

@keyframes k-header-minimize-menu-exit {
    from   { top: 0; }
    to { top: -(k-get($k-header-config, base, desktop, fixed, height, bottom)); }
}