//
// Header Brand
//



.k-header__brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-begin;
	flex-direction: row;
	padding: 0;
	position: relative;

	.k-header__brand-logo {
		display: flex;
		justify-content: flex-begin;
	}
}