//
// Content
//





// General mode
.k-content {
	padding: k-get($k-page-padding, desktop);

	// Subheader enabled
	.k-subheader--enabled.k-subheader--transparent:not(.k-subheader--fixed) & {
		padding-top: 0;
	}

	// Page fluid mode(below $k-page-container-width)
	@include k-page-fluid-mode {
		padding-left: 0;
		padding-right: 0;
	}
}

@include k-page-fluid-mode {
	.k-content {
		padding-left: 0;
		padding-right: 0;

		.k-aside--enabled & {
			padding-left: k-get($k-page-padding, desktop);
		}
	}
}

// Tablet & mobile mode(1024px and below)
@include k-tablet-and-mobile() {
	.k-aside--enabled .k-content,
	.k-content {
		padding: k-get($k-page-padding, mobile) 0;

		// Subheader enabled
		.k-subheader--enabled.k-subheader--transparent & {
			padding-top: 0;
		}
	}
}